.logo-img{
  font-size: 60px;
  color: darkgoldenrod;
  

} 
.navbar-nav{
    margin-left: 30%; 

}
.nav-link{
    color: wheat;
    text-transform: uppercase;
    margin: 6px;
    font-size:14px ;
    font-family: sans-serif;
}
.nav-item .active{
    color: darkgoldenrod;
}

.nav-link:hover{
    color: darkorange;
}
.nav-item-item{

    margin-left:25%;
    list-style: none;
}
.nav-item-item  i{
    margin: 10px;
    color: #ddd;
    font-size: 20px;
}
.nav-item-item i:hover{
  color: darkgoldenrod;
}

.navnav.sticky{
 background-color:#191616;
opacity: 1;

}









/* carousel */
.carousel{ top: 0;}
.carousel-inner{height:100vh;}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover;
    background-size: cover;
    position: absolute;
}
.slide:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
.carousel-caption{
    margin-bottom: 100px;

}

.carousel-caption h5{
    font-size:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    text-transform:uppercase;
}
.carousel-caption p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:40px;
}
.link-btn{
    font-size: 15px;
    padding:10px 25px;
    text-decoration: none;
    margin-top:20px;
    text-transform: uppercase;
    
    border: 1px solid darkgoldenrod;
    color:white ;
       
}
.link-btn:hover{
    text-decoration:none;
    color: #101010;
    background-color: darkgoldenrod;
}


p a{
text-decoration:none;
margin: 7px;
} 
.link-btn-tn{
    background-color: darkgoldenrod;
    color: black;
    font-size: 15px;
    padding:10px 25px;
    text-decoration: none;
    margin-top:20px;
    text-transform: uppercase;
}
.link-btn-tn:hover{
    text-decoration:none;
    color:white;
}



.card-card{
margin-top:100px;


}
.card-ex{
    text-align: center;
}
.ex-icon i{
    color: darkgoldenrod;
    font-size:20px;
}
.article{
    margin-top: 200px;
}
.article-header{
    padding-top:10px;
}


.article-link{
    padding:10px 25px;
    background-color: black;
    color: bisque;
    width: 150px;
    text-align: center;

}
.article-link a{
    color: white;

}
.article-link:hover{
    background-color: #181818;
}
.article-link a:hover{
    color: darkgoldenrod;
    text-decoration:none;
}
article-link a:visited{
   color: blueviolet;
}

.article img{
    height: 250px;
    width:100%;
}
.article2-row{
    height: 200px;

}
.article2-row .col{
    padding-top: 20px;
    text-align: center;
}
.article2-row .col h4{
    text-transform: uppercase;
    text-decoration-style: solid;
}
.article2-row .col p{
    margin-top: 10px;
}
/* .article2-row .btn{
    background-color: #101010;
    colo
} */

.what-d h3{
  text-align: center;
  font-family: sans-serif;
  margin-top: 200px;

}

.what-img img{
    /* padding:20px 25px; */

width: 200px;
height: 200px;
border-radius:50%;
}
.what-img:hover{
    opacity: 0.6;
}
.what-d{
    margin-top: 100px;
}
.what-col {
    text-align: center;

}
.what-col h4{
    text-transform: uppercase;
}



.pat{
    margin-top: 100px;
    margin-bottom:100px;
    text-align: center;
}
.pat h4{
    text-align: center;
    color:black;
    text-transform: uppercase;
}

.pat .btn{
    padding: 10px 25px;
    text-align: center;
    background-color: orange;
    width: 200px;
    border-style: 1px solid;
    color:white;
    text-transform: capitalize;
    font-size: 15px;

}
.pat .btn:hover{
    background-color: rgb(209, 155, 55);
}

.pat p{
    margin:50px 150px 50px 150px;
}

.gall{
    background-color: #181818;
    margin-top:100px;
    
}

.gall h4{
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: capitalize;
    text-align:center;
    color: rgb(207, 153, 14);
}
.gall .container{
    padding-top:100px;
    padding-bottom: 200px;

}

/* 
.gall-col{
    background-color: white;
} */

.gall-col img{
 border-radius: 12px;
  width: 100%;
 background-color: yellow;
 opacity: 1;
display: block;
transition: .5s ease;
/* backface-visibility: hidden; */

}




.gall-mid{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;


}
.gall-col:hover img{
opacity:0.3;
transform: scale(1.15);
}
.gall-col:hover .gall-mid{
    opacity: 1;
}
.mem-info{
    text-align: center;
}
.mem-info h5{
    text-transform: capitalize;
    
}












/* 
h4{
    background-color: #4CAF50;
    color: white;
    
  } */

  /* reviews */

  
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.mySlides-images{
    width: 200px;
    height: 200px;
    border-radius:50%;
    margin-bottom: 10px;
}

  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .person {color: cornflowerblue;}



  /* footer */
footer{
    background-color: #191616;
    color: darkgoldenrod;
    height: auto;
}
footer .row{
    padding-bottom: 100px;
    padding-top: 50px;
}
footer .container{
    padding-bottom: 10px;
}
footer .icon-pic i{
    font-size: 100px;
    text-align: center;
    border-bottom: 1px wheat;
}
footer li{
    list-style: none;
}
footer h5{
    color: rgb(246, 179, 8);
}
.explore li a{
    color: darkgoldenrod;
    text-decoration-line: none;
}
.explore li a :hover{
    
    text-decoration-line: none;
}
.social li{
display: inline;
margin-right: 15px;

}
.social li a i{
    font-size: 20px;
    border-radius: 16px;
    color: #bbb;

}
.social li a i:hover{
   color: #888;
}
input[type=submit]{
    background-color: darkgoldenrod;
    color:#101010;
    width: auto;
    border-style: none;
    /* padding: 10px 10px; */
    text-align: center;
    

}

input[type = submit]:hover{
    background-color: rgb(218, 171, 53);
}

.footer-footer{
    text-align: center;
    
}

